@font-face {
    font-family: Montserrat-Black; /* Имя шрифта */
    src: url(fonts/Montserrat-Black.eot); /* Путь к файлу со шрифтом */
    src: url(fonts/Montserrat-Black.otf); /* Путь к файлу со шрифтом */
    src: url(fonts/Montserrat-Black.svg); /* Путь к файлу со шрифтом */
    src: url(fonts/Montserrat-Black.ttf); /* Путь к файлу со шрифтом */
    src: url(fonts/Montserrat-Black.woff); /* Путь к файлу со шрифтом */
   }

p {
    font-family: Montserrat-Black;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    color: #1F2041;
}
